@media (max-width: $mobile-width) {
  .container {
    max-width: 343px;
    &--catalog {
      max-width: 359px;
    }
  }

  .about-us {
    padding: 148px 0;
    &__image {
      display: none;
    }
    &__wrapper {
      display: flex;
      justify-content: center;
    }
    &__title {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }

  .text {
    font-size: 20px;
    &--big {
      font-size: 38px;
    }
    &--lg {
      font-size: 20px;
    }
  }

  .list__item {
    &:nth-last-child(-n + 2) {
      display: none;
    }
  }

  .offers {
    &__cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 248px) 111px;
    }
    &__item--full {
      grid-column: 1;
    }
    &__item {
      justify-content: center;
    }
  }

  .feedback {
    &__container {
      gap: 60px;
    }
  }

  .footer {
    padding-top: 43px;
    &__container {
      flex-direction: column-reverse;
      gap: 40px;
    }
  }
  // catalog
  .controls {
    gap: 60px;
    &__button {
      flex-shrink: 0;
    }
    &__filter {
      &-text {
        display: none;
      }
      &-icon {
        width: 38px;
        height: 25px;
      }
    }
  }

  .sort {
    &__options {
      font-size: 12px;
      white-space: nowrap;
    }
  }

  .presentation {
    padding: 24px 0 48px;
    &__container {
      flex-direction: column;
      gap: 32px;
    }
  }
}
