$header-color: #222222;
$about-us-bg-color: #f1e4e6;
$pink-color: #f16d7f;
$card-bg-color: #f8f8f8;
$text-gray-color: #9f9f9f;
$text-primary-color: #222224;

$tablet-width: 1000px;
$mobile-width: 767px;
