$header-color: #222222;
$about-us-bg-color: #f1e4e6;
$pink-color: #f16d7f;
$card-bg-color: #f8f8f8;
$text-gray-color: #9f9f9f;
$text-primary-color: #222224;
$gray-color: #636363;
$gray-color-secondary: #6f6e6e;

$tablet-width: 1000px;
$mobile-width: 767px;
